:root {
	--cl-primary: #3fa099;
	--cl-primary-text: #fff;
	--cl-secondary: #ff2975;
	--cl-secondary-text: #fff;
	--cl-background: #f5f5f5;
	--cl-background-alt: #eaeaea;
	--cl-foreground: #333;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

@mixin shape {
	border-radius: 0.25rem;
}

@font-face {
	font-family: 'Filson Pro';
	src: url('https://use.typekit.net/rrn6gan.css');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Filson Pro', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: var(--cl-background);
	color: var(--cl-foreground);

	* + * {
		margin-top: 1em;
	}
}

section {
	padding: 1rem;
}

h1 {
	font-size: 2em;
	line-height: 1.2;
}

h2 {
	font-size: 1em;
	margin-top: 0;
}

button {
	cursor: pointer;
	border: none;
	padding: 0.5rem 1rem;
	background-color: var(--cl-primary);
	color: var(--cl-primary-text);
	@include shape;
	transition: all 150ms ease;

	svg {
		margin-right: 0.5rem;
		path {
			fill: currentColor;
		}
	}

	&:hover {
		opacity: 0.8;
	}
}

footer {
	background-color: var(--cl-background-alt);
	color: var(--cl-foreground);
	font-size: 12px;
	padding: 0.25rem 1rem;
	text-align: center;
}
